@model cataloguehetm.ViewModels.ArticleAdminListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div id="content">

    <div class="blueberry">
        <ul class="slides">
            <li><img src="http://www.next-stage.fr/wp-content/uploads/2016/09/sony-annonce-la-playstation-pro.jpg" /></li>
            <li><img src="http://fr.kijijiblog.ca/wp-content/uploads/2015/04/gamingpc-_acer_aspire_predator.jpg" /></li>
            <li><img src="http://telechargerjeuxtorrent.com/wp-content/uploads/2016/03/Batman-Arkham-Knight-PS4.jpg" /></li>
            <li><img src="http://www.lejournaldunumerique.com/wp-content/uploads/2015/02/MSI-GTX-960-GTX-970-GAMING-100-ME-02.jpg" /></li>
        </ul>
    </div>
    @if (Model.article != null)
    {
    <table style="display:block; margin:auto; ">
        <tr>
            @foreach (var article in Model.article)
            {
            <td>
                <img width="300" height="300"  src="@article.Urlimage" /> <br/>
                <h3>@article.Name</h3>
            </td>
            }
        </tr>
    </table>
    }

    <div id="feed-actus"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

    google.load("feeds", "1");

    function initialize() {
      // Mettez l'URL de votre flux RSS
      var feed = new google.feeds.Feed("http://www.reeducation-perinee.org/blog/category/sante/feed/");
      // Ici nous n'affichons que les deux premiers articles du flux RSS
      feed.setNumEntries(2);

      feed.load(function(result) {
        if (!result.error) {
          // Remplacer au besoin le nom de l'élément "feed-actus" par celui que vous utilisez
          var container = document.getElementById("feed-actus");
          var rssoutput="";
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];
            // Pour chaque article du flux RSS, nous affichons un lien avec la date en italique
            rssoutput+="<a href='" + entry.link + "'>" + entry.title + "</a> <i>(" + new Date(entry.publishedDate).toLocaleDateString() + ")<i/>";

          }
          container.innerHTML=rssoutput;
        }
      });
    }
    google.setOnLoadCallback(initialize);

    </script>
    <!-- start feedwind code -->
    <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" data-fw-param="5675/"></script> <!-- end feedwind code -->

</div>

