
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div id="content">

    <!-- blueberry -->

    <div class="blueberry">
        <ul class="slides">
            <li><img src="http://www.next-stage.fr/wp-content/uploads/2016/09/sony-annonce-la-playstation-pro.jpg" /></li>
            <li><img src="http://fr.kijijiblog.ca/wp-content/uploads/2015/04/gamingpc-_acer_aspire_predator.jpg" /></li>
            <li><img src="http://telechargerjeuxtorrent.com/wp-content/uploads/2016/03/Batman-Arkham-Knight-PS4.jpg" /></li>
            <li><img src="http://www.lejournaldunumerique.com/wp-content/uploads/2015/02/MSI-GTX-960-GTX-970-GAMING-100-ME-02.jpg" /></li>
        </ul>
    </div>

    <!-- blueberry -->

</div>

