
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}


<div id="content">

    <!-- blueberry -->

    <div class="blueberry">
        <ul class="slides">
            <li><img src="http://www2.hm.com/content/dam/Campaign%20Ladies%20S02/5XB/5XB-HOLIDAY-TD-L-SP-ladies-fr.jpg" /></li>
            <li><img src="http://www2.hm.com/content/dam/Campaign%20Ladies%20S02/5XB/5XB-HOLIDAY-TD-L-SP-men-fr.jpg" /></li>
            <li><img src="http://www2.hm.com/content/dam/Campaign%20Ladies%20S02/5XB/5XB-HOLIDAY-TD-L-SP-kids-fr.jpg" /></li>
            <li><img src="http://www2.hm.com/content/dam/Campaign%20Home%20S02/5VJ/5VJ-golden-hour-TD-L-SP.jpg" /></li>
        </ul>
    </div>

    <!-- blueberry -->

</div>

