<!DOCTYPE html>
<html>
<!-- arobaz  ViewBag.Title- --> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> H&M @ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/blueberry.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>
    $(window).load(function() {
	$('.blueberry').blueberry();
    });
    </script>

</head>
<body>
    
    <div class="div-Nav">
        <img class="logo" src="../../Content/image/HM.png" />
        <div id="divPanier">
            <div class="panier"><i></i><a href="#"> Panier (0)</a></div>
        </div>
        <nav>
            <ul>
                <a href="/Catalogue/index/man"><li>HOMME</li></a>
                <a href="/Catalogue/index/women"><li>FEMME</li></a>
                <a href="/Catalogue/index/kid"><li>ENFANT</li></a>
            </ul>
        </nav>
    </div>
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - H&M Application with ASP.NET </p>
        </footer>
    </div>
    <script src="~/Content/jquery.blueberry.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>