@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add catalogue";
}


<div id="content">
    <form action="/panier/formAdd/@(((int)ViewData["id"]))" method="post">
        <label for="ProviderId">Quantité</label>
        <select data-val="true" data-val-required="Le champ  est requis." id="qte" name="qte">
                
                    <option value="1"> 1  </option>
                    <option value="2"> 2  </option>
                    <option value="3"> 3  </option>
                    <option value="4"> 4  </option>
                    <option value="5"> 5 </option>
                    <option value="6"> 6  </option>
                    <option value="7"> 7  </option>
                    <option value="8"> 8  </option>
                    <option value="9"> 9  </option>
                    <option value="10"> 10  </option>
        </select>



<br/>
<input type="submit" value="Valider">
        
    </form>

</div>