body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:#76b900 !important;
    background:black;
}
p
{
    color:#76b900 !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {

    width: 1000px;
    margin: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.div-Nav
{
    background-color: black;
    margin-top: -50px;
    border-bottom: 1px solid #c9ff6b;
    height: 160px;
    width: 1000px;
    margin: auto;
}

.div-Nav ul
{
    list-style-type:none;
    display: block;
}
nav
{
    height: 40px;
    width: 530px;
    margin: auto;
}
.div-Nav ul li 
{
    background-color: black;
    text-align: center;
    width: 163px;
    display: block;
    float: left;
    font-weight: bold;
}
.div-Nav ul li:hover
{
    border-bottom: solid 1px #0fb90a; 
}

.div-Nav ul a 
{
    text-decoration:none;
    color:#76b900;
}

.logo
{
    vertical-align: middle;
    width: 150px;
    margin: auto;
    display: block;
    float: left;
}

.panier
{
    width:100px;
    float:right;
    font-weight:bold;
}

.panier a 
{
    text-decoration:none !important;
    color:#76b900;
}
.panier i 
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(image/briefcase.png);
    background-repeat: no-repeat;
    background-size: 15px;
    margin-top: -2px;
    background-position-y: 7px;
}

#divPanier
{
    height: 30px;
    width: 871px;
    margin: auto;
}

.divCatalogue
{
    border: solid 1px #0fb90a;
    border-radius: 3px;
    margin: 19px 0px;
}
.headerCatalogue
{
    border-bottom: solid 1px #0fb90a;
    
}
.imgCatalogue img
{
        width: 998px;  
}



.imgArticle img
{
        width: 200px;
}

.imgArticle
{
    display:block;
    float:left;
}
.divArticle
{
        border: solid 1px #0fb90a;
    height: 300px;
    margin-top: 18px;

}
.bouton_ajouter
{
      background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
